/* Here we can set styles for this lab page that we don't want to effect others pages */

/* the period in a CSS selector selects an element by class, e.g., class="minor-section" */
.minor-section {
  background-color: rgb(164, 255, 247);
    padding: 2px;
    margin-bottom: 20px;
    border: solid 15px #ffbcd8;
    background-color: #f3df91;
    font-family: sans-serif;
    color: rgb(30, 134, 100);
  }