div#output {
    border: solid, 1px, rgb(240, 148, 179);
    padding: 20px;
    background-color: rgb(235, 115, 155);
    column-width: 200px;
}

#challenge{
    background-color: rgb(230, 84, 132);
    padding: 5px;
    margin-bottom: 10px;
    border: solid 10px #f8d1d9;
}
#problem{
    background-color:rgb(247, 45, 112);
    padding: 5px;
    margin-bottom: 10px;
    border: solid 10px #f5849c;
}
#reflection{
    background-color: rgb(247, 66, 126);
    padding: 5px;
    margin-bottom: 10px;
    border: solid 10px #ffe2f0;
}
#results{
    background-color: rgb(187, 79, 120);
    padding: 5px;
    margin-bottom: 10px;
    border: solid 10px #c57791;
}

body{
    background-color: rgb(224, 24, 84);
}

html{
    background-color: rgb(218, 102, 137);
}

h1{
    color:rgb(224, 224, 224);
    font-size: 300%;
    font-family: cursive;
    background-color: rgb(216, 148, 165);
    border: solid 5px rgb(223, 70, 129);
}

.dot {
    height: 25px;
    width: 25px;
    background-color: #da5a7a;
    border-radius: 50%;
    display: inline-block;
  }