div#output {
    border: solid, 1px, rgb(172, 180, 173);
    padding: 20px;
    background-color: rgb(104, 103, 98);
    column-width: 200px;
}

#challenge{
    background-color: rgb(218, 222, 223);
    padding: 5px;
    margin-bottom: 10px;
    border: solid 10px #2d2e2d;
}
#problem{
    background-color:rgb(107, 107, 105);
    padding: 5px;
    margin-bottom: 10px;
    border: solid 10px #434344;
}
#reflection{
    background-color: rgb(192, 196, 190);
    padding: 5px;
    margin-bottom: 10px;
    border: solid 10px #353433;
}
#results{
    background-color: rgb(231, 232, 233);
    padding: 5px;
    margin-bottom: 10px;
    border: solid 10px #dbddd9;
}

body{
    background-color: rgb(94, 100, 100);
}

html{
    background-color: rgb(119, 118, 114);
}

h1{
    color:rgb(45, 45, 48);
    font-size: 300%;
    font-family: cursive;
    background-color: rgb(161, 167, 168);
    border: solid 5px rgb(219, 220, 223);
}

.dot {
    height: 25px;
    width: 25px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
  }