h1{
    color:rgb(82, 228, 155);
    font-size: 300%;
    font-family: cursive;
    background-color: rgb(248, 246, 149);
    border: solid 5px rgb(33, 141, 87);
  }
  .minor-section {
      padding: 20px;
      margin-bottom: 40px;
      border: solid 50px #5fbbf0;
      background-color: #eef593;
      font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
      font-size: large;
    
    }
  body{
    background-color: #9cf4fa;
  }